{% extends 'base.html' %}

{% block menu %}
           <li><a href="{% url 'comment_create' %}">Add Comment</a></li>
{% endblock %}
{% block content %}
<h1>Comments:</h1>
    {% for com in comment %}
        <h2>{{ com.author }}</h2>
        <div>{{ com.text }}</div>
{#        <p><a href="{% url 'article_view' article.pk %}">More...</a></p>#}
        <p><a href="{% url 'comment_update' com.pk %}">Edit</a></p>
        <p><a href="{% url 'comment_delete' com.pk %}">Delete</a></p>
        <hr/>
    {% endfor %}
{% endblock %}
</body>
</html>